
/* Importación de Tipografía de fontawesome */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*========================== Inicio Estilos universales ================= */

:root{
    font-size: 20px;
}

*{
    font-family: "Poppins", sans-serif;
    margin: 0;
	padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

/*========================== Inicio Estilos Cabecera ================= */

.navbar--down{
    background-color:#3a454b;
    padding: 15px 20px;
}
.navbar--up{
    padding-bottom: 15px;
    display: flex;
    align-items: center!important;
}

.navbar--donw__enlace{
    text-decoration: none;
    color: white;
    font-weight: 700;
    padding: 10px 15px;
    background-color:#505c63;
    border-radius: 5px;
    transition: all 350ms ease-in-out;

}

.navbar--donw__enlace:hover{
    background-color:#00aaeb;
}

.navbar--up p{
    margin-bottom: 0!important;
}


/*========================== Fin Estilos Cabecera ================= */

/***************************************************************************************************/

/*========================== Inicio Estilos Section 1 ================= */

.movies--list--section__title{
    font-weight: 900;
    text-shadow: 3px 4px 10px #A6A6A6;

}

.movies--list--section__button{
    background-color: #8d168d;
}

.movies--list--section__button:hover{
    background-color: #b225b2;
}

/* Dándole un ancho a las columnas de los íconos de editar, ver y elminar*/
.movie--list thead tr th:nth-child(3), .movie--list thead tr th:nth-child(4), .movie--list thead tr th:nth-child(5){ 
    width: 12%;
}

.movie--list__see-icon, .movie--list__delete-icon, .movie--list__edit-icon{
    color: #3a454b;
}

.table--container{
    padding-bottom: 50px;
 
}



main{
    background-image: url(../img/bg-3.jpg);
    background-repeat: no-repeat;
    background-position: center!important;
    background-size: cover;
    height: auto;
    padding-bottom: 50px;
}
/*========================== Fin Estilos Section 1 ================= */


/***************************************************************************************************/

/*========================== Inicio Estilos Footer ================= */
input[type="text"],input[type="number"], input[type="date"]{
    outline: 4px solid #b225b2;
}

footer{
    padding: 50px 0 50px 0;
    color: #fcd771;
    background: #3a454b;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.footer--icons{
    display: flex;
    justify-content: center;
    column-gap: 30px;
}

footer p{
    margin-bottom: 0!important;
}

.icon--media--footer{
    font-size: 25px;
}

.footer-icons-link{
    color: #fdbf10;
}
.footer-icons-link:hover{
    color:#cead52;
}